<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="../img/iconologo.webp" type="image/x-icon">
    <link rel="stylesheet" href="../css/empresa.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;500&display=swap" rel="stylesheet">
    <title>La Empresa</title>
</head>

<body>

    <!-- Nav menu -->
    <nav class="navbar navbar-expand-lg navbar-dark p-0" style="background-color: #2e2853;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="img-logo" src="../img/logo Ws2.webp" width="100px" alt="Logotipo" />
                <span class="navbar-brand-text fw-bolder text-capitalize">NetSec</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/empresa.html">La Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/servicio.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/contactos.html">Contactos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- seccion portada y cards -->
    <main id="box-empresa" class="w-100 ">
        <section class="box-card container ">
            <div class="row d-flex justify-content-center m-2">
                <article class="text-white w-75">
                    <h1 class="text-center p-5">Bienvenido a NetSec</h1>
                    <h4>Expertos en Seguridad y Conectividad desde hace más de una década</h4>
                    <p>En NetSec, nos enorgullecemos de nuestros más de 10 años de trayectoria como líderes en
                        soluciones
                        integrales de seguridad y conectividad. Desde nuestros inicios, hemos estado comprometidos con
                        la
                        protección de hogares, empresas y espacios comerciales a través de la implementación de sistemas
                        de
                        vanguardia y la entrega de servicios de alta calidad.</p>
                </article>

                <article class="card m-3 pt-2" style="width: 20rem;">
                    <img src="../img/tecnicoCam.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Nuestra Trayectoria</h3>
                        <p class="card-text"> A lo largo de los años, hemos acumulado un amplio conocimiento y
                            experiencia que nos permite ofrecer soluciones personalizadas y efectivas a nuestros
                            clientes</p>
                        <a href="#"></a>
                    </div>
                </article>

                <article class="card m-3 pt-2" style="width: 20rem;">
                    <img src="../img/antenaTec2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Compromiso</h3>
                        <p class="card-text">Nos esforzamos por mantenernos a la vanguardia de las últimas tendencias y
                            tecnologías en seguridad, cámaras de vigilancia, sistemas de alarmas, redes inalámbricas y
                            fibra óptica.</p>
                        <a href="#"></a>
                    </div>
                </article>

                <article class="card m-3 pt-2" style="width: 20rem;">
                    <img src="../img/tabletCam.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Nuestros Clientes</h3>
                        <p class="card-text">La confianza que nuestros clientes depositan en nosotros nos impulsa a
                            superar continuamente sus expectativas y a mantener relaciones sólidas a largo plazo.</p>
                        <a href="#"></a>
                    </div>
                </article>
            </div>
        </section>

        <video muted autoplay loop>
            <source src="../videos/video1.webm">
        </video>

        <div class="capa"></div>

    </main>
    <!-- pie de pagina -->
    <footer class="container-fluid text-center text-light align-content-center bg-dark">
        <div class="row  m-auto p-4 align-items-center" style="width: 80%; height: 100%;">
            <p class="col">Preguntas frecuentes</p>
            <p class="col">Contactos</p>
            <p class="col">Prensa</p>
            <p class="col">Conferencias</p>
            <p class="col">Términos y condiciones</p>
            <p class="col">Privacidad</p>
            <p class="col">Estudiantes</p>
        </div>

        <div class="p-3" style="background-color: black;">
            ©2022 Copyright
            <a class="text-light" href="#">Javier Limachi A.</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>