<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/iconologo.webp" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/servicio.css" />
    <title>Servicios</title>
</head>

<body>
    <!-- Nav menu -->
    <nav class="navbar navbar-expand-lg navbar-dark p-0" style="background-color: #2e2853;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="img-logo" src="../img/logo Ws2.webp" width="100px" alt="Logotipo" />
                <span class="navbar-brand-text fw-bolder text-capitalize">NetSec</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/empresa.html">La Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/servicio.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/contactos.html">Contactos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Servicios -->
    <main class="servicios">
        <section class="tex-portada">
            <h2>Nuestros Servicios</h2>
        </section>
        <section class="box-servicio">
            <div class="text">
                <h1>Cámaras</h1>
                <h4>de seguridad de Última Generación</h4>
                <p>Implementamos sistemas de videovigilancia avanzados, adaptados a las necesidades específicas de cada
                    cliente, utilizando tecnología de vanguardia para garantizar la protección y supervisión constante
                    de su entorno.</p>
                <a href="../view/contactos.html" target="_blank">Contactos</a>
            </div>
            <div class="image">
                <div>
                    <img class=" img-ser" src="../img/camacctv.webp" alt="">
                </div>
            </div>
        </section>

        <section class="box-servicio">
            <div class="text">
                <h1>Alarmas</h1>
                <h4>Sistemas de Alarmas y Monitoreo</h4>
                <p>Ofrecemos sistemas de alarmas personalizados que se integran perfectamente con su propiedad,
                    proporcionando alertas inmediatas y un monitoreo continuo para su seguridad las 24
                    horas del día, los 7 días de la semana.</p>
                <a href="../view/contactos.html" target="_blank">Contactos</a>
            </div>
            <div class="image">
                <div>
                    <img class=" img-ser" src="../img/alarmas.webp" alt="">
                </div>
            </div>
        </section>

        <section class="box-servicio">
            <div class="text">
                <h1>Redes</h1>
                <h4>Inalámbricas y Cableado Estructurado</h4>
                <p>Diseñamos y desplegamos redes inalámbricas robustas y eficientes, así como soluciones de cableado
                    estructurado, asegurando una conectividad confiable para optimizar la comunicación y el rendimiento
                    de sus sistemas.</p>
                <a href="../view/contactos.html" target="_blank">Contactos</a>
            </div>
            <div class="image">
                <div>
                    <img class=" img-ser" src="../img/antenaTec2.webp" alt="">
                </div>
            </div>
        </section>

        <section class="box-servicio">
            <div class="text">
                <h1>Fibra Óptica</h1>
                <h4>Instalación Mantenimiento Reparaciones.</h4>
                <p>Potenciamos su infraestructura con la instalación experta de fibra óptica, garantizando una
                    transmisión de datos rápida y segura para satisfacer las demandas crecientes de conectividad en la
                    era digital.</p>
                <a href="../view/contactos.html" target="_blank">Contactos</a>
            </div>
            <div class="image">
                <div>
                    <img class=" img-ser" src="../img/fibra optica.webp" alt="">
                </div>
            </div>
        </section>
    </main>

    <!-- pie de pagina -->
    <footer class="container-fluid text-center text-light align-content-center bg-dark">
        <div class="row  m-auto p-4 align-items-center" style="width: 80%; height: 100%;">
            <p class="col">Preguntas frecuentes</p>
            <p class="col">Contactos</p>
            <p class="col">Prensa</p>
            <p class="col">Conferencias</p>
            <p class="col">Términos y condiciones</p>
            <p class="col">Privacidad</p>
            <p class="col">Estudiantes</p>
        </div>

        <div class="p-3" style="background-color: black;">
            ©2022 Copyright
            <a class="text-light" href="#">Javier Limachi A.</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>